<h1>Edit Link</h1><br>

<div class="form">
	<%= form_for @link, url: link_path, method: :patch do |f| %>
		<% if @link.errors.any? %>
			<div id="error_explanation">
				<h2>Whoops!</h2>
				<ul>
					<% product.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<div class="form_field">
			<%= f.label :title %>
			<%= f.text_field :title %>
		</div>

		<div class="form_field">
			<%= f.label :url %>
			<%= f.url_field :url %>
		</div>

		<div class="form_field">
			<%= f.label :description %>
			<%= f.text_area :description %>
		</div>

		<div class="form_field">
			<%= f.label "Page" %>
			<%= f.select :page_id, Page.all.collect { |p| [ p.title, p.id ] } %>
		</div>

		<div class="form_field">
			<%= f.label "Tags" %>
			<%= f.select :tag_ids, Tag.all.collect { |t| [ t.title, t.id ] } %>
		</div>

		<div class="form_actions">
			<%= f.submit %>
		</div>
	<% end %>
</div>