<h1>All Links</h1>

<p><%= link_to 'Add New Link', new_link_path %></p>
<p><%= link_to 'Add New Page', new_page_path %></p>
<p><%= link_to 'Add New Tag', new_tag_path %></p>

<table>
	<% @pages.each do |page| %>
		<tr>
			<td><%= page.title %></td>
		</tr>
	<% end %>
</table>

<table>
	<% @links.each do |link| %>
		<tr>
			<td class="link_description">
				<dl>
					<dt><%= link.title %></dt>
					<dt><%= link.url %></dt>
					<dt><%= link.description %></dt>
				</dl>
			</td>

			<td class="link_actions">
				<%= link_to 'Edit', edit_link_path(link) %>
				<%= link_to 'Delete', link_path(link), method: :delete, data: { confirm: 'Are you sure?' } %>
			</td>
		</tr>
	<% end %>
</table>
